.header-title {
  color: #333;
  padding: 10px;
  text-align: center;
}

.header-subtitle {
  color: #666;
  padding: 10px;
  text-align: center;
}

.content-text {
  color: #333;
  padding: 10px;
  text-align: center;
}